<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кредитная История</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Поиск Кредитной Истории</h1>

<div class="container">
    <form id="searchForm">
        <label>Имя: <input type="text" name="name" required /></label>
        <label>Фамилия: <input type="text" name="surname" required /></label>
        <label>Отчество: <input type="text" name="patronymic" required /></label>
        <label>Паспорт: <input type="text" name="passport" required /></label>
        <button type="submit">Найти</button>
    </form>
</div>

<div class="container" id="result"></div>
<script src="/js/script.js"></script>
</body>
</html>
